.banner{
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300)), url(../../../assets/images/bannerbackground.png);
    background-size: cover;
    width: 100%;
    height: 223px;
    line-height: 142.6%;
    border-radius: 25px;
    margin-top: 63px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 48px;
    color: white;
    @media screen and (max-width: 1025px){
        height: 111px;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-align: initial;
        align-items: center;
        justify-content: flex-start;
        border-radius: 10px;
        background-position: center;
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
        margin-top: 0;
    
    }
    p{
        @media screen and (max-width: 1025px){
        width: 65%;
        margin-left: 16px;
        }
    }
}

.about_banner{
    font-size: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300)), url(../../../assets/images/about_bannerbackground.png);
    background-size: cover;
    width: 100%;
    height: 223px;
    border-radius: 25px;
    margin-top: 63px;
    @media screen and (max-width: 1025px){
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
    }
}

