.gallery{
    background-color: $color-2;
    max-width: 100%;
    margin-top: 56px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
        
}

.card{
    max-width: 340px;
    max-height: 340px;
    min-width: 340px;
    min-height: 340px;
    margin: 24px;
    border-radius: 10px;
    overflow: hidden;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    h3{
    padding-top: 268px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    font-style: normal;
    }
    .card_description{
        width: 80%;
    }
}