.gallery{
    background-color: $color-2;
    max-width: 100%;
    margin-top: 56px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    @media screen and (max-width: 800px){
        margin-top: 0px;
        background: white;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15 px;
    }
        
}

.card{
    max-width: 340px;
    max-height: 340px;
    min-width: 340px;
    min-height: 340px;
    margin: 24px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
@media screen and (max-width: 800px){
    max-width: 335px;
    max-height: 255px;
    min-width: 335px;
    min-height: 255px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}
    h3{
        padding-top: 268px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        font-style: normal;
        @media screen and (max-width: 800px){
            padding-top: 170px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            color: rgb(255, 255, 255);
            font-weight: 500;
            font-size: 18px;
            line-height: 142.6%;
            font-style: normal; 
            position: absolute;
        }
    }
    .card_description{
        @media screen and (max-width: 800px){
        width: 80%;
    }
    }
}